header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  mat-icon {
    margin-right: 10px;
  }
  h2 {
    margin: 0;
  }
}

form {
  margin-bottom: 10px;
  mat-form-field {
    &.single {
      display: block;
    }
  }
  mat-slide-toggle {
    display: block;
    margin-bottom: 20px;
  }

  .double {
    display: flex;
    //margin-bottom: 20px;
    mat-form-field {
      flex: 0 1 50%;
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
