<header>
  <mat-icon>add_alarm</mat-icon>
  <h2>Adicionar trabalho</h2>
</header>
<form #registerForm="ngForm">
  <mat-form-field class="single">
    <mat-select placeholder="Tarefa" required name="task" [(ngModel)]="date.task">
      <mat-option *ngFor="let option of options" [value]="option.value">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="double">
    <mat-form-field>
      <input matInput type="number" required placeholder="Minutos trabalhados" name="time" [(ngModel)]="date.timeSpent">

    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" required placeholder="Data" [matDatepicker]="picker" name="data" disabled [formControl]="today">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>

    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="registerWork()" [disabled]="registerForm.form.invalid">
    Registrar
  </button>
</form>
